@mixin scrollbar {
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: 5px;
		border-radius: 10px;
		background-color: black;
		&-thumb {
			background-color: gray;
			border-radius: 10px;
		}
	}
}