.chat-section-container {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
    margin-top: 10px;
    overflow-y: scroll;
    color: var(--msg-text-color);
    &::-webkit-scrollbar {
        height: 100%;
        width: 8px;
        border-radius: 10px;
        background: var(--chat-scrollbar-bg-color);
    }
    &::-webkit-scrollbar-thumb {
        background: var(--chat-scrollbar-thumb-bg-color);
        border-radius: 10px;
    }
    &:-webkit-scrollbar-button {
        display: none;
    }
    .chat-msg-move-left {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .chat-msg-move-right {
        justify-content: flex-end;
        align-items: flex-end;
    }
}