@use './styles/profile';
@use './styles/sidebar';

:host {
	--sidebar-bg-color: #334494;
}

.account-container {
	padding: 5px;
	display: grid;
	grid-template-areas: "account-sidebar account-previewer";
	grid-template-rows: 1fr;
	grid-template-columns: max(250px) 1fr;
	grid-gap: 5px;
	position: relative;
	color: whitesmoke;
}

.account-previewer {
	grid-area: account-previewer;
	background: radial-gradient(ellipse at top right, #334494, #010101);
	border-radius: 10px;
}

@media (max-width: 600px) {
	.account-container {
		grid-template-areas: "account-previewer account-previewer";
	}

	.account-previewer {
		height: 90vh;
	}
}