@use './../../../../assets/scss/mixins/mixins' as mix;
@use './../../../../assets/scss/variables';

button {
    outline: none;
    border: none;
}

.input {
    &-container {
        width: 100%;
        display: grid;
        grid-template-columns: 30px 1fr 70px;
        grid-template-rows: 1fr;
        overflow-anchor: none;
        gap: 5px;
        justify-content: center;
        background-color: var(--message-input-field-bg-color);
        min-height: 0;
        min-width: 0;
        align-items: flex-end;
        padding: 10px;
        position: absolute;
        bottom: 0;
    }

    &-left {
        width: 100%;
    }

    &-middle {
        height: 100%;
        display: grid;
        align-items: center;
        position: relative;

        .editable-input {
            overflow-anchor: none;
            width: 100%;
            max-width: 100%;
            outline: none;
            font-family: sans-serif;
            font-size: 16px;
            color: white;
            font-weight: medium;
            padding: 5px;
            overflow: hidden;
            overflow-y: scroll;
            word-break: normal;
            max-height: 200px;
            background: transparent;
            z-index: 1;
            @include mix.scrollbar(5px, gray, silver);

            &-placeholder {
                position: absolute;
                top: 5px;
                left: 5px;
                font-weight: bold;
                font-family: "Open Sans", sans-serif;
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.msg-input-button {
    background: var(--message-input-button-bg-color);
    color: white;
    font-size: 1.2em;
    padding: 2.5px 7px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px var(--message-input-button-bg-color);
    }

    i {
        padding: 4px 0;
    }

    &:focus+.input-left-menu {
        display: block;
    }
}

.hide-input-field {
    display: none;
}

.input-left-menu {
    list-style: none;
    position: absolute;
    bottom: 60px;
    width: 160px;
    padding: 5px;
    left: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--message-input-button-bg-color);
    color: white;
    display: none;

    &:focus-within {
        display: block;
    }

    &-item {
        width: 100%;
    }

    .input-left-menu-label {
        cursor: pointer;
        display: grid;
        gap: 5px;
        padding: 5px;
        align-items: center;
        grid-template-columns: 24px 1fr;
        justify-content: center;
        border-radius: 5px;

        &:hover {
            background-color: var(--message-input-field-bg-color);
        }

        i {
            font-size: 24px;
        }

        p {
            color: white;
            font-weight: lighter;
            font-size: 16px;
            font-family: "Open Sans";
        }
    }
}