.chat-menu-section {
	position: relative;
	.chat-menu-dropdown {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 5px;
		flex-direction: column;
		position: absolute;
		right: 10px;
		width: 140px;
		top: 50px;
		padding: 10px;
		border-radius: 5px;
		transform: scale(0);
		transform-origin: top right;
		transition: transform, 200ms ease-in-out;
		background-color: rgba(0, 0, 0, 0.6);
		button {
			background:none;
			background-color: rgba(0, 0, 0, 0.2);
			outline: none;
			display: grid;
			align-items: center;
			grid-template-columns: 35px 1fr;
			border: 1px solid white;
			padding: 5px 10px;
			border-radius: 5px;
			font-size: 1.1em;
			color: whitesmoke;
			cursor: pointer;
			font-family: "Open Sans", sans-serif;
			a {
				text-align: left;
				user-select: none;
				text-decoration: none;
				color: white;
				&:hover {
					color: cyan;
				}
			}
			i {
				text-align: left;
			}
		}
	}
}
