@use './../../../../assets/scss/mixins/mixins' as scrl;

.chat-section-container {
    padding-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    padding-right: 5px;
    overflow-y: scroll;
    height: calc(100vh - 225px);
    color: var(--msg-text-color);
    @include scrl.scrollbar-default;
    .chat-msg-move-left {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .chat-msg-move-right {
        justify-content: flex-end;
        align-items: flex-end;
    }
}