.chat-bar {
    background: var(--chat-navbar-color);
    display: flex;
    align-items: center;
    backdrop-filter:blur(5px);
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-size: 1em;
    font-family: "Verdana", monospace;
    margin-bottom: 10px;
    justify-content: space-between;
    span {
        i {
            color: whitesmoke;
            font-size: 1.5em;
            border-radius: 5px;
            cursor: pointer;
            padding: 5px 2.5px;
            &:hover {
                background-color: var(--msg-textbox-bg-color);
            }
        }
    }
    #chat-nav-back {
        margin: 0 0 0 10px;
    }
    #chat-nav-menu {
        margin: 0 10px 0 0;
    }
}
.chat-bar-friend-section {
    display: grid;
    grid-template-areas: "profile info";
    align-items: center;
    padding: 5px 0;
    .chat-bar-friend-image-section {
        height: 50px;
        width: 50px;
        position: relative;
        img {
            grid-area: profile;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        i {
            position: absolute;
            right: 0;
            bottom: 2.5px;
            font-size: 0.75em;
            color: var(--status-dot-color);
        }
    }

    .chat-friend-info {
        grid-area: info;
        display: grid;
        grid-template-areas: "name" "status";
        text-align: left;
        margin-left: 5px;
        color: white;
        .name {
            font-weight: bolder;
            font-family: "Roboto", sans-serif;
        }
        .status {
            font-weight: bold;
            font-size: 0.9em;
            font-family: "Open Sans", sans-serif;
        }
    }
}
