@use './../mixins/mixins' as mix;

.profile-section {
	display: flex;
	flex-direction: column;
}
.profile-header {
	text-align: center;
	font-family: "playfair display";
	letter-spacing: 2px;
	font-size: 24px;
}
.profile-image-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 10px 0;
}
.profile-image {
	position: relative;
	img {
		width: 150px;
		height: 150px;
		object-fit: cover;
		border-radius: 50%;
	}
	input {
		display: none;
	}
	.profile-label {
		position: absolute;
		bottom: 20px;
		right: 25px;
		cursor: pointer;
		i {
			font-size: 18px;
			background-color: var(--accent-color);
			border-radius: 50%;
			padding: 5px;
			&::before {
				position: relative;
				top: 1px;
			}
		}
	}
}
.profile-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
	font-family: "Roboto", sans-serif;
	max-width: 700px;
	width: 100%;
	label {
		width: 100%;
		padding-left: 5px;
		margin-bottom: 5px;
		font-size: 18px;
		font-weight: bold;
		text-align: left;
		font-family: inherit;
	}
	.account_input {
		padding: 10px;
		background: none;
		font-weight: bold;
		outline: none;
		color: var(--default-fg-color);
		font-size: 14px;
		resize: vertical;
		max-height: 150px;
		font-family: inherit;
		border: none;
		&::placeholder {
			color: inherit;
		}
	}
	.account-input-section {
		width: 100%;
		border: 1px solid var(--default-fg-color);
		border-radius: 10px;
		max-width: 700px;
		display: grid;
		grid-template-columns: 35px 1fr 35px;
		position: relative;
	}
	.account-textarea-section {
		width: 100%;
		border: 1px solid var(--default-fg-color);
		border-radius: 10px;
		max-width: 700px;
		display: grid;
		grid-template-columns: 35px 1fr;
	}
	.account-input-left {
		padding: 5px;
		font-size: 21.5px;
		@include mix.add-flex(flex-start, center);
	}
	.account-input-right {
		padding: 5px;
		font-size: 21.5px;
		@include mix.add-flex(flex-start, center);
		position: absolute;
		right: 5px;
		top: 2.5px;
		cursor: pointer;
	}
}
.account_submit_btn_section {
	display: flex;
	align-items: center;
	justify-content: center;
	.account_submit_btn {
		min-width: 100px;
		padding: 5px;
		font-size: 18px;
		font-weight: bold;
		color: whitesmoke;
		font-family: "Open Sans", sans-serif;
		background: none;
		border:none;
		outline: none;
		cursor: pointer;
		border-radius: 50px;
		background-color: var(--accent-color);
		transition: box-shadow, 200ms ease-in;
		&:hover {
			transition: box-shadow, 200ms ease-in;
			box-shadow: 0 0 10px var(--accent-color);
		}
	}
}
