@use './../mixins/mixins' as mix;

.profile-section {
	display: flex;
	flex-direction: column;
}
.profile-header {
	text-align: center;
	font-family: "playfair display";
	letter-spacing: 2px;
	font-size: 24px;
}
.profile-image-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 10px 0;
}
.profile-image {
	position: relative;
	img {
		width: 150px;
		height: 150px;
		object-fit: cover;
		border-radius: 50%;
	}
	input {
		display: none;
	}
	.profile-label {
		position: absolute;
		bottom: 20px;
		right: 25px;
		cursor: pointer;
		i {
			font-size: 18px;
			background-color: var(--accent-color);
			border-radius: 50%;
			padding: 5px;
			&::before {
				position: relative;
				top: 1px;
			}
		}
	}
}
.profile-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
	font-family: "Open Sans", sans-serif;
	label {
		width: 70%;
		padding-left: 5px;
		margin-bottom: 5px;
		font-size: 18px;
		font-weight: bold;
		text-align: left;
		font-family: inherit;
	}
	.account_input {
		padding: 10px;
		border-radius: 10px;
		background: none;
		// background-color: var(--default-bg-color);
		width:70%;
		font-weight: bold;
		outline: none;
		border: 1px solid var(--default-fg-color);
		color: var(--default-fg-color);
		font-size: 14px;
		resize: vertical;
		max-height: 150px;
		font-family: inherit;
		&::placeholder {
			color: inherit;
		}
	}
}
.account_submit_btn_section {
	display: flex;
	align-items: center;
	justify-content: center;
	.account_submit_btn {
		min-width: 100px;
		padding: 5px;
		font-size: 18px;
		font-weight: bold;
		color: var(--default-bg-color);
		font-family: "Open Sans", sans-serif;
		background: none;
		border:none;
		outline: none;
		cursor: pointer;
		border-radius: 50px;
		background-color: var(--accent-color);
	}
}
