@use './../variables';

@mixin scrollbar-default {
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: 5px;
		border-radius: 10px;
		background-color: var(--default-fg-color);
		&-thumb {
			background-color: var(--default-bg-color);
			border-radius: 10px;
		}
	}
}

@mixin add-flex($ai, $jc, $fd: row) {
	display: flex;
	flex-direction: $fd;
	align-items: $ai;
	justify-content: $jc;
}

@mixin scrollbar($w: 5px, $bg: gray, $fg: silver, $rounded: 10px) {
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: $w;
		border-radius: $rounded;
		background-color: $bg;
		&-thumb {
			background-color: $fg;
			border-radius: $rounded;
		}	
	}
}

@mixin no-scrollbar {
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		display: none;
	}
}