<nav class="fluid-navbar bg-zinc-700 text-white">
	<div class="navbar-header-section">
		<i id="sidebar" class="bi bi-layout-sidebar"></i>
		<h1 class="app-title">
			<img src="./assets/images/fluid.svg" alt="Fluid Logo" />
			<header class="title-text">Fluid</header>
		</h1>
	</div>
	<div class="navbar-links-section">
		<ul class="navlink-container">
			<li class="navlink nav-item-1">
				<a href="#">
					<i class="bi bi-house-fill"></i>
					<p>Home</p>
				</a>
			</li>
			<li class="navlink nav-item-2">
				<a href="/chat">
					<i class="bi bi-chat-dots-fill"></i>
					<p>Chats</p>
				</a>
			</li>
			<li class="navlink nav-item-3">
				<a href="#">
					<i class="fa-solid fa-lock"></i>
					<p>Private</p>
				</a>
			</li>
			<li class="navlink nav-item-4">
				<a href="#">
					<i class="bi bi-info-square-fill"></i>
					<p>About</p>
				</a>
			</li>
		</ul>
	</div>
	<div class="navbar-button-section">
		<span class="user-icon">
			<i id="user" class="navbar-button" class="bi bi-person-circle"></i>
		</span>
	</div>
</nav>