.fluid-index-page {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header header image"
        "button button button";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 0.1fr;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    .index-page-header {
        grid-area: header;
        z-index: 1;
        color: white;
        text-align: center;

        h1 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2rem;
        }
    }

    .index-page-image {
        border-radius: 50%;
        width: 100%;
    }

    .logo-image-container {
        grid-area: image;
        display: flex;
        justify-content: center;
    }
}

.get-started-button-container {
    grid-area: button;
    display: flex;
    justify-content: center;
}

.index-page-get-started-button {

    text-align: center;
    background-color: silver;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 30px;
    width: 200px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .fluid-index-page {
        grid-template-areas:
            "header header header"
            "image image image"
            "button button button";
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;

        .index-page-header {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1rem;
            }
        }
    }
}