<div class="chat-container">
    <aside class="sidebar bg-zinc-200">
        <ul class="sidebar-list">
            <li class="chat-header" style="z-index: 5;">
                <h1 class="sidebar-title text-2xl">
                    <i id="chat-icon-left" class="bi bi-chat-fill"></i>
                    <p>Chats</p>
                    <i id="chat-icon-right" class="bi bi-chat-fill"></i>
                </h1>
            </li>
            <li class="chat-item" *ngFor="let chat of chats;">
                <div class="chat-item-menu-section" [ngClass]="this.chats[chat.id].showMenu ? 'show-chat-item-menu' : ''">
                    <h2>Menu</h2>
                </div>
                <a href="/chat/#" style="display: flex;">
                    <img class="chat-profile-pic" src="{{ chat.profile }}" alt="Chat Profile Picture" />
                    <section class="sidebar-chat-user-detail">
                        <strong>{{ chat.uname }}</strong>
                        <p>{{ chat.status }}</p>
                    </section>
                </a>
                <button class="chat-item-menu" id="{{ chat.id }}" (click)="toggleItemMenu($event.currentTarget)">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
            </li>
        </ul>
    </aside>
    <section class="chat-section">
        <h1>
            <i class="bi bi-send"></i></h1>
    </section>
</div>