@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$open-sans:'Open Sans', sans-serif;

:host {
    --color: rgb(124, 66, 24);
    --chat-bg-color:grey;
}
.sidebar {
    border-radius: 5px;
    display: grid;
    grid-template-rows: 10% 90%;
    height: 90vh;
    .sidebar-list {
        padding: 5px;
        color: whitesmoke;
    }

    .sidebar-title {
        margin-bottom: 5px;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        background-color: var(--color);
        border-radius: 5px;
        img {
            width: 30px;
            padding: 2.5px;
        }
        #chat-icon-right {
            transform: rotateY(180deg);
        }
        header {
            color: black;
        }
    }
}

.chat-container {
    display: grid;
    margin: 5px;
    min-height: 100%;
    width: auto;
    grid-template-columns: 1fr 3fr;
    column-gap: 5px;
}
.chat-header {
    text-align: center;
}
.chat-section {
    background-color: var(--chat-bg-color);
    border-radius: 5px;
    font-size: 3em;
    font-family: $open-sans;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 5px;
    background: grey;
    margin-bottom: 5px;
    border-radius: 5px;
    color: inherit;
    .chat-profile {
        color: black;
        font-size: 2.5em;
    }
    .sidebar-chat-user-detail {
        p {
            color: white;
            margin: 0;
            font-size: 0.9em;
            padding: 0;
        }
    }
}