@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

$open-sans:'Open Sans', sans-serif;

:host {
    --sidebar-bg-color: rgba(0, 0, 0, 0.85);
    --sidebar-fg-color: white;
    --sidebar-item-bg-color: #1732b9;
    --active-status-dot-color: greenyellow;
    --chat-item-menu-bg-color: rgba(0, 0, 0, 0.8);
    --chat-menu-item-bg-color:chocolate;

    --chat-section-bg-color:#2e3138;
    --webkit-scrollbar-track-bg-color:grey;
    --webkit-scrollbar-thumb-bg-color:silver;
}
.inner-chat-container {
    display: grid;
    margin: 0 5px;
    width: 100%;
    grid-template-areas: 
        "chat-sidebar chat-section"
    ;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 500px;
    grid-gap: 5px;
}
.chat-container {
    display: flex;
}
.chat-header {
    text-align: center;
    position: sticky;
    top: 5px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    #chat-icon-left, #chat-icon-right {
        background: linear-gradient(45deg, indigo, yellow);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.chat-section {
    background-color: var(--chat-section-bg-color);
    color: whitesmoke;
    border-radius: 5px;
    font-size: 3em;
    font-family: $open-sans;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y:scroll ;
    scrollbar-width: thin;
        scrollbar-color: silver;
        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--webkit-scrollbar-thumb-bg-color);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: var(--webkit-scrollbar-track-bg-color);
        }
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--chat-item-bg-color);
    margin-bottom: 5px;
    border-radius: 5px;
    color: inherit;
    position: relative;
    justify-content: space-between;
    .chat-profile-pic {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid silver;
    }
    .sidebar-chat-user-detail {
        strong {
            font-family: 'Lato', sans-serif;
        }
        p {
            color: white;
            margin: 0;
            font-size: 0.9em;
            padding: 0;
        }
    }
    .chat-item-menu {
        text-align: right;
        i {
            font-size: 1.3em;
        }
    }
}
.chat-item-menu-section {
    display: none;
    background-color: #5a5f64;
    z-index: 10;
}
.show-chat-item-menu {
    display: inline-block; 
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 1;  
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;

}
@media only screen and (max-width: 1000px){
    .chat-container {
        grid-template-columns: 1fr;
    }
    .inner-chat-container {
        grid-template-areas: "chat-section chat-section";
        grid-gap: 0;
    }
}