:host {
    --sidebar-bg-color: rgba(0, 0, 0, 0.85);
    --sidebar-fg-color: white;
    --sidebar-item-bg-color: #1732b9;
    --active-status-dot-color: greenyellow;
    --chat-item-menu-bg-color: rgba(0, 0, 0, 0.8);
    --chat-menu-item-bg-color:chocolate;

    --chat-section-bg-color:#2e3138;
    --webkit-scrollbar-track-bg-color:grey;
    --webkit-scrollbar-thumb-bg-color:silver;
}
.chat-navbar-container {
    grid-area: chat-navbar;
    margin-bottom: 2.5px;
}
.chat-preview-pane-container {
    grid-area: chat-preview;
    height: 100%;
    border-radius: 10px;
}
.chat-sidebar-container {
    grid-area: chat-sidebar;
}
.chat-container {
    display: grid;
    grid-gap: 5px;
    height: 100vh;
    padding: 5px;
    grid-template-areas: 
    "chat-navbar chat-navbar"
    "chat-sidebar chat-preview"
    ;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 65px 1fr;
    position: relative;
}
@media (max-width: 1000px) {
    .chat-container {
        grid-template-areas: 
            "chat-navbar chat-navbar"
            "chat-preview chat-preview"
        ;
        grid-gap: 0;
    }
    .chat-navbar-container {
        margin-bottom: 5px;
    }
}