@use './styles/chat-bar';
@use './styles/chat-friend';
@use './styles/chat-input';
@use './styles/chat-menu';
@use './styles/chat-msg';
@use './styles/chat-section';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chat-container {
    display: grid;
    height: 100%;
    grid-template-rows: 70px 1fr;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    position: relative;
    background-image: url('./../../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}