<div class="chat-container">
<div class="chat-bar">
    <span>
        <a href="/chat"
            ><i class="bi bi-caret-left-fill" id="chat-nav-back"></i
        ></a>
    </span>
    <div class="chat-bar-friend-section">
        <div class="chat-bar-friend-image-section">
            <img
                class="chat-bar-friend-pic"
                src="https://images.hdqwalls.com/download/skull-logo-uz-800x1280.jpg"
                alt="Other End User Profile Picture"
            />
            <i class="fa-solid fa-circle active-status-dot"></i>
        </div>

        <div class="chat-friend-info">
            <p class="name">Name Surname</p>
            <p class="status">Active 1m Ago</p>
        </div>
    </div>
    <div class="chat-menu-section">
        <span id="toggle-nav-menu-button">
            <i class="bi bi-three-dots-vertical" id="chat-nav-menu"></i>
        </span>
        <aside class="chat-menu-dropdown" id="nav-menu">
            <button>
                <i class="fa-solid fa-gear"></i>
                <a href="#">Settings</a>
            </button>
            <button>
                <i class="fa-solid fa-circle-user"></i>
                <a href="#">Profile</a>
            </button>
            <button>
                <i class="fa-solid fa-photo-film"></i>
                <a href="#">Media</a>
            </button>
        </aside>
    </div>
    
</div>
<ul class="chat-section-container" id="chat-section-container">
    <li class="friend-user-intro">
        <img
            class="friend-user-profile-image"
            src="https://images.hdqwalls.com/download/skull-logo-uz-800x1280.jpg"
            alt="Friend User Profile"
        />
        <header class="friend-user-name">Name Surname</header>
        <p class="friend-user-">
            U Are All Setup To Chat Like Fluid
        </p>
    </li>
    <li class="chat-msg-move-right">
        <div class="your-message">
            <div class="right-triangle"></div>
            <p class="msg-text">
                Message-1 ThigeMessage-1 This Is A MessageMessage-1
                This Is A Message
            </p>
        </div>
    </li>
    <li class="chat-msg-move-left">
        <div class="their-message">
            <div class="left-triangle"></div>
            <p class="msg-text">
                Message-1 This Is MessageMessage-1 This Is A Message
            </p>
        </div>
    </li>
    <li class="chat-msg-move-right">
        <div class="your-message">
            <div class="right-triangle"></div>
            <p class="msg-text">
                Message-1 This Is A MessageMesssage-1 This Is A
                Message
            </p>
        </div>
    </li>
    <li class="chat-msg-move-left">
        <div class="their-message">
            <div class="left-triangle"></div>
            <p class="msg-text">MessMessage-1 This Is A Message</p>
        </div>
    </li>
    <li class="chat-msg-move-right">
        <div class="your-message">
            <div class="right-triangle"></div>
            <p class="msg-text">
                Message-1 This Is A MessageMessage-1 This Is A
            </p>
        </div>
    </li>
    <li class="app-message">
        <p class="app-message-text">SomeContent</p>
    </li>
    <li class="chat-msg-move-left">
        <div class="their-message">
            <div class="left-triangle"></div>
            <p class="msg-text">
                Message-1 This Is A MessageMessage-1 This Is A
                MessageMessage-1 This Is A Message
            </p>
        </div>
    </li>
    <li class="chat-msg-move-right">
        <div class="your-message">
            <div class="right-triangle"></div>
            <p class="msg-text">
                MessageMessage-1 This Is A MessageMessage-1 This Is
                A Message
            </p>
        </div>
    </li>
    <li class="chat-msg-move-left">
        <div class="their-message">
            <div class="left-triangle"></div>
            <p class="msg-text">
                Message-1 This Is A MessageMessage-1 This Is A
                MessageMessae
            </p>
        </div>
    </li>
    <li class="chat-msg-move-left">
        <div class="their-message">
            <div class="left-triangle"></div>
            <p class="msg-text">
                Message-1 This Is A MessageMessage-1 This Is A
                MessageMessae
            </p>
        </div>
    </li>
    <li class="chat-msg-move-left">
        <div class="their-message">
            <div class="left-triangle"></div>
            <p class="msg-text">
                Message-1 This Is A MessageMessage-1 This Is A
                MessageMessae
            </p>
        </div>
    </li>
</ul>
<form class="input-container">
                <div class="input-left">
                    <button class="msg-input-button" type="button">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <ul class="input-left-menu">
                        <li class="input-left-menu-item">
                            <label for="msg-record-audio" class="input-left-menu-label">
                                <i class="fa-solid fa-microphone"></i>
                                <p class="input-left-menu-text">Record Audio</p>
                            </label>
                            <input id="msg-record-audio" class="hide-input-field" type="file" name="msg_file_input">
                        </li>
                        <li class="input-left-menu-item">
                            <label for="msg-file-input" class="input-left-menu-label">
                                <i class="fa-solid fa-paperclip"></i>
                                <p class="input-left-menu-text">Attach A File ...</p>
                            </label>
                            <input id="msg-file-input" class="hide-input-field" type="file" name="msg_file_input">
                        </li>
                    </ul>
                </div>
                <div class="input-middle">
                    <textarea class="hide-input-field"></textarea>
                    <p class="editable-input-placeholder">Type a Message ...</p>
                    <div class="editable-input" contenteditable></div>
                </div>
                <div class="input-right">
                    <button class="msg-input-button" type="button">
                        <i class="fa-solid fa-smile"></i>
                    </button>
                    <button class="msg-input-button" type="button">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            </form>
</div>