@use 'modules/_chat-bar';
@use 'modules/_chat-menu';
@use 'modules/_chat-section';
@use 'modules/_chat-friend';
@use 'modules/_chat-msg';
@use 'modules/_chat-input';

:host {
    --chat-ui-bg-color: purple;
    --chat-ui-bg-color: rgba(255, 255, 255, 0.9);
    --chat-scrollbar-bg-color: transparent;
    --chat-scrollbar-thumb-bg-color: whitesmoke;
    --your-msg-bg-color: green;
    --their-msg-bg-color: teal;
    --msg-text-color: white;
    --app-msg-color: green;
    --chat-accent-color: rgba(15, 54, 153, 0.4);
    --status-dot-color:gold;
    --chat-navbar-color: rgba(15, 54, 153, 0.4);
    --msg-textbox-bg-color: rgba(0, 0, 0, 0.7);
    --emoji-menu-bg-color:indigo;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    -webkit-font-smoothing: antialiased;
}
.chat-container {
    width: 100%;
    background-color: var(--chat-ui-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/assets/images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    overflow-y:hidden;
    height: 100vh;
    position: relative;
    border-radius: 10px;
}
@media only screen and (max-width: 600px) {
    .chat-text-msg-input {
        max-height: 100px!important;
    }
}
@media only screen and (max-width: 400px) {
    .chat-section-container {
        li {
            margin: 5px 0;
            div {

                max-width: 75%;
            }
        }
    } 
}
@media only screen and (max-width: 280px){
    .chat-text-msg-input-placeholder {
        font-size: 14px;
    }
}

@media (orientation: landscape){
    .chat-text-msg-input {
        max-height: 100px!important;
    }
}