        <div class="chat-container">
            <div class="chat-bar">
                <span>
                    <a href="/chat"
                        ><i class="bi bi-caret-left-fill" id="chat-nav-back"></i
                    ></a>
                </span>
                <div class="chat-bar-friend-section">
                    <div class="chat-bar-friend-image-section">
                        <img
                            class="chat-bar-friend-pic"
                            src="https://images.hdqwalls.com/download/skull-logo-uz-800x1280.jpg"
                            alt="Other End User Profile Picture"
                        />
                        <i class="fa-solid fa-circle active-status-dot"></i>
                    </div>

                    <div class="chat-friend-info">
                        <p class="name">Name Surname</p>
                        <p class="status">Active 1m Ago</p>
                    </div>
                </div>
                <div class="chat-menu-section">
                    <span id="toggle-nav-menu-button">
                        <i class="bi bi-three-dots-vertical" id="chat-nav-menu"></i>
                    </span>
                    <aside class="chat-menu-dropdown" id="nav-menu">
                        <button>
                            <i class="fa-solid fa-gear"></i>
                            <a href="#">Settings</a>
                        </button>
                        <button>
                            <i class="fa-solid fa-circle-user"></i>
                            <a href="#">Profile</a>
                        </button>
                        <button>
                            <i class="fa-solid fa-photo-film"></i>
                            <a href="#">Media</a>
                        </button>
                    </aside>
                </div>
                
            </div>
            <ul class="chat-section-container" id="chat-section-container">
                <li class="friend-user-intro">
                    <img
                        class="friend-user-profile-image"
                        src="https://images.hdqwalls.com/download/skull-logo-uz-800x1280.jpg"
                        alt="Friend User Profile"
                    />
                    <header class="friend-user-name">Name Surname</header>
                    <p class="friend-user-">
                        U Are All Setup To Chat Like Fluid
                    </p>
                </li>
                <li class="chat-msg-move-right">
                    <div class="your-message">
                        <div class="right-triangle"></div>
                        <p class="msg-text">
                            Message-1 ThigeMessage-1 This Is A MessageMessage-1
                            This Is A Message
                        </p>
                    </div>
                </li>
                <li class="chat-msg-move-left">
                    <div class="their-message">
                        <div class="left-triangle"></div>
                        <p class="msg-text">
                            Message-1 This Is MessageMessage-1 This Is A Message
                        </p>
                    </div>
                </li>
                <li class="chat-msg-move-right">
                    <div class="your-message">
                        <div class="right-triangle"></div>
                        <p class="msg-text">
                            Message-1 This Is A MessageMesssage-1 This Is A
                            Message
                        </p>
                    </div>
                </li>
                <li class="chat-msg-move-left">
                    <div class="their-message">
                        <div class="left-triangle"></div>
                        <p class="msg-text">MessMessage-1 This Is A Message</p>
                    </div>
                </li>
                <li class="chat-msg-move-right">
                    <div class="your-message">
                        <div class="right-triangle"></div>
                        <p class="msg-text">
                            Message-1 This Is A MessageMessage-1 This Is A
                        </p>
                    </div>
                </li>
                <li class="app-message">
                    <p class="app-message-text">SomeContent</p>
                </li>
                <li class="chat-msg-move-left">
                    <div class="their-message">
                        <div class="left-triangle"></div>
                        <p class="msg-text">
                            Message-1 This Is A MessageMessage-1 This Is A
                            MessageMessage-1 This Is A Message
                        </p>
                    </div>
                </li>
                <li class="chat-msg-move-right">
                    <div class="your-message">
                        <div class="right-triangle"></div>
                        <p class="msg-text">
                            MessageMessage-1 This Is A MessageMessage-1 This Is
                            A Message
                        </p>
                    </div>
                </li>
                <li class="chat-msg-move-left">
                    <div class="their-message">
                        <div class="left-triangle"></div>
                        <p class="msg-text">
                            Message-1 This Is A MessageMessage-1 This Is A
                            MessageMessae
                        </p>
                    </div>
                </li>
                <li class="chat-msg-move-left">
                    <div class="their-message">
                        <div class="left-triangle"></div>
                        <p class="msg-text">
                            Message-1 This Is A MessageMessage-1 This Is A
                            MessageMessae
                        </p>
                    </div>
                </li>
                <li class="chat-msg-move-left">
                    <div class="their-message">
                        <div class="left-triangle"></div>
                        <p class="msg-text">
                            Message-1 This Is A MessageMessage-1 This Is A
                            MessageMessae
                        </p>
                    </div>
                </li>
            </ul>
            <form action="" method="POST" class="input-container" id="input-container">
                <div class="msg-input-left-icons">
                    <label for="chat-msg-file" class="chat-msg-icon-label"
                        ><i class="fa-solid fa-paperclip"></i
                    ></label>
                    <input
                        type="file"
                        id="chat-msg-file"
                        name="chat-msg-file"
                        class="chat-msg"
                    />
                </div>

                <!-- Text Input Element -->
                <div class="msg-input-container" id="msg-input-container">
                    <div
                        name="chat-text-msg-input"
                        id="chat-text-msg-input"
                        class="chat-text-msg-input"
                        placeholder="Type A Message ..."
                        contenteditable="true"
                    ></div>
                    <div
                        class="chat-text-msg-input-placeholder"
                        id="msg-input-placeholder"
                    >
                        Type A Message...
                    </div>
                    <textarea class="msg-textarea" id="msg-textarea"></textarea>
                </div>
                <!-- Emoji Icon Element -->
                <div class="msg-input-right-icons">
                        <button type="button" class="chat-msg-icon-label" id="emoji-menu-button" 
                        ><i class="fa-solid fa-face-smile"></i>
                        </button>
                    <label for="chat-msg-emoji" class="chat-msg-icon-label"
                        ><i class="fa-solid fa-paper-plane"></i>
                    </label>
                    <input
                        type="audio"
                        id="chat-msg-audio"
                        name="chat-msg-audio"
                        class="chat-msg"
                    />
                </div>
                <aside class="emoji-menu" id="emoji-menu">
                </aside> 
            </form>
        </div>