<div class="chat-container">
    <div class="chat-navbar">
        <div class="nav-user-section">
            <img src="./assets/images/blaze.png" alt="" />
            <div class="other-user-info">
                <p class="name">Name Surname</p>
                <p class="status">Active 1m Ago</p>
            </div>
        </div>
    </div>
    <ul class="chat-interactive-container">
        <li class="your-msg-item">
            <p class="your-msg">Message-1 This Is A Message</p>
        </li>
        <li class="your-msg-item">
            <p class="your-msg">Message-2 This Is A Prettyyyyyyyyy Long Message</p>
        </li>
        <li class="their-msg-item">
            <p class="their-msg">Message-3 Short Msg</p>
        </li>
        <li class="their-msg-item">
            <p class="their-msg">Message-4 Mini Msg</p>
        </li>
        <li class="your-msg-item">
            <p class="your-msg">Message-5 Helllaaaaaaaa Biggg Msg</p>
        </li>
        <li class="their-msg-item">
            <p class="their-msg">Message-6 Medium Sized Msg</p>
        </li>
    </ul>
    <div class="chat-interactive-section">
        <input type="text" name="messages" placeholder="Type Your Messages --->">
    </div>
</div>
