.sidebar-header {
    color: white;
    position: relative;

    header {
        margin-top: 5px;
        text-align: center;
        font-size: 2em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
    }

    i {
        position: absolute;
        right: 0px;
        top: 5px;
        font-size: 2em;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        transition: right, 200ms ease-out;
        &:hover {
            transition: right, 200ms ease-out;
            right: 5px;
        }
    }
}
