<app-navbar></app-navbar>
<div class="signin-container">
    <div class="signin">
        <header class="form-header">Login</header>
        <form action="" method="POST" class="form">
            <section class="form-input-field-section">
                <span class="form-input-field-icon">
                    <i class="fa-solid fa-user-circle"></i>
                </span>
                <input class="form-input-field" name="signin_username" type="text" placeholder="Username" />
            </section>
            <section class="form-input-field-section">
                <span class="form-input-field-icon">
                    <i class="fa-solid fa-key"></i>
                </span>
                <input class="form-input-field" name="signin_password" type="password" placeholder="Password" />
                <span class="form-input-field-icon password-eye-icon">
                    <i class="fa-solid fa-eye"></i>
                </span>
            </section>
            <section class="form-submit-section">
                <button type="submit" class="form-submit-section-button">Login</button>
            </section>
            <section class="form-submit-link-section">
                 <a href="/register" class="form-submit-link">Using Fluid For The First Time ? Register</a>
                <a href="" class="form-submit-link">Forgot Password ? Click Here</a>
            </section>
        </form>
    </div>
</div>