	<aside class="account-sidebar">
		<section class="header-section">
			<header class="sidebar-header">
				<i class="fa-solid fa-gears"></i>
				<h3>Settings</h3>
				<button type="button">
				<i class="bi bi-layout-sidebar"></i>
			</button>
			</header>	
			
		</section>
		<ul class="sidebar-list">
			<li>
				<a href="#">
					<i class="bi bi-person-circle"></i>
					<p>Profile</p>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="bi bi-key"></i>
					<p>Change Password</p>
				</a>
			</li>
			<li>
				<a href="/notification">
					<i class="bi bi-bell"></i>
					<p>Notifications</p>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="bi bi-activity"></i>
					<p>Activity</p>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="bi bi-shield"></i>
					<p>Security</p>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="bi bi-exclamation-circle"></i>
					<p>Danger</p>
				</a>
			</li>
		</ul>
	</aside>
