@use './../../../assets/scss/variables';
@use './../../../assets/scss/mixins/mixins' as mix;
.account-sidebar {
	padding: 10px 0;
	border-radius: 10px;
	background-color: var(--default-bg-color);
	z-index: 1;
	color: var(--default-fg-color);
	box-shadow: 0 0 5px var(--default-fg-color);

}

.sidebar-header {
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: 35px 1fr 35px;
	color: inherit;

	h3 {
		text-align: center;
		color: inherit;
		font-size: 24px;
		font-weight: lighter;
		font-family: "helvetica Neue", sans-serif;
	}

	i {
		text-align: center;
		color: inherit;
		font-size: 20px;
	}

	button {
		color: inherit;
		background: none;
		outline: none;
		display: inline-block;
		border: none;
		font-size: 20px;
		cursor: pointer;
		padding: 5px;
		border-radius: 5px;

		&:hover {
			background-color: var(--accent-color);
		}
	}
}

.sidebar-list {
	margin-top: 10px;
	list-style: none;
	color: inherit;
	padding: 2.5px;
	height: calc(100vh - 142.5px);
	overflow-y: scroll;
	@include mix.scrollbar-default;
	a {
		text-decoration: none;
		color: inherit;
		font-size: 16px;
		font-weight: bold;
		font-family: "Open Sans", sans-serif;
		padding: 10px;
		display: grid;
		align-items: center;
		border-radius: 10px;
		grid-gap: 5px;
		margin-bottom: 5px;
		grid-template-columns: 25px 1fr;
		transition: color, background-color, 100ms ease-in;

		&:hover {
			transition: color, background-color, 100ms ease-in;
			color: white;
			background-color: var(--accent-color);
		}

		p {
			text-align: left;
		}

		i {
			font-size: 20px;
		}
	}
}

@media (max-width: 800px) {
	.account-sidebar {
		position: absolute;
		top: 75px;
		left: 5px;
		height: calc(100vh - 80px);
	}
}