@use './styles/sidebar-header';
@use './styles/sidebar-items';
@use './styles/sidebar-items-menu';
@use './styles/sidebar-menu';

.sidebar {
    display: grid;
    grid-template-rows: 50px 60px 1fr;
    border-radius: 10px;
    padding: 5px;
    background: var(--sidebar-bg-color);
    width: 100%;
    z-index: 10;
    transition: width, 200ms ease-out;
    color: var(--sidebar-fg-color);
}
.hide-sidebar {
    width: 0px;
    transition: width, 200ms ease-in;
}
@media (max-width: 1000px) {
    .sidebar {
        max-width: 250px;
        position: absolute;
        top: 75px;
        left: 5px;
    }
}