<div class="profile-section">
	<section class="profile-header">
		<h3>User's Profile</h3>
	</section>
	<form action="" method="POST" class="account-profile-form" id="account-change-password-form">
		<section class="profile-content">
			<label for="account_current_password">Current Password</label>
			<section class="account-input-section">
				<span class="account-input-left">
					<i class="bi bi-lock"></i>
				</span>
				<input class="account_input" placeholder="Current Password" type="text" id="account_current_password" name="account_current_password">
				<span class="account-input-right">
					<i class="bi bi-eye"></i>
				</span>
			</section>
		</section>
		<section class="profile-content">
			<label for="account_new_password">New Password</label>
			<section class="account-input-section">
				<span class="account-input-left">
					<i class="bi bi-lock"></i>
				</span>
				<input class="account_input" placeholder="New Password" type="text" id="account_new_password" name="account_new_password">
				<span class="account-input-right">
					<i class="bi bi-eye"></i>
				</span>
			</section>
		</section>
		<section class="profile-content">
			<label for="account_confirm_password">Confirm Password</label>
			<section class="account-input-section">
				<span class="account-input-left">
					<i class="bi bi-lock"></i>
				</span>
				<input class="account_input" placeholder="Confirm Password" type="text" id="account_confirm_password" name="account_confirm_password">
				<span class="account-input-right">
					<i class="bi bi-eye"></i>
				</span>
			</section>
		</section>
		<section class="account_submit_btn_section">
			<button type="submit" class="account_submit_btn">Change Password</button>
		</section>
	</form>
</div>