<app-navbar></app-navbar>
<div class="signup-container">
    <div class="signup">
        <header class="form-header">Register</header>
        <form action="" method="POST" class="form">
            <section class="form-input-field-section">
                <span class="form-input-field-icon">
                    <i class="fa-solid fa-user-circle"></i>
                </span>
                <input class="form-input-field" name="signup_fullname" type="text" placeholder="Name" />
            </section>
            <section class="form-input-field-section">
                <span class="form-input-field-icon">
                    <i class="fa-solid fa-user-circle"></i>
                </span>
                <input class="form-input-field" name="signup_username" type="text" placeholder="Username" />
            </section>
            <section class="form-input-field-section">
                <span class="form-input-field-icon">
                    <i class="fa-solid fa-user-circle"></i>
                </span>
                <input class="form-input-field" name="signup_email" type="text" placeholder="Email" />
            </section>
            <section class="form-input-field-section">
                <span class="form-input-field-icon">
                    <i class="fa-solid fa-key"></i>
                </span>
                <input class="form-input-field" name="signup_password" type="password" placeholder="Password" />
                <span class="form-input-field-icon password-eye-icon">
                    <i class="fa-solid fa-eye"></i>
                </span>
            </section>
            <section class="form-input-field-section">
                <span class="form-input-field-icon">
                    <i class="fa-solid fa-key"></i>
                </span>
                <input class="form-input-field" name="signup_confirm_password" type="password" placeholder="Confirm Password" />
                <span class="form-input-field-icon password-eye-icon">
                    <i class="fa-solid fa-eye"></i>
                </span>
            </section>
            <section class="form-submit-section">
                <button type="submit" class="form-submit-section-button">Register</button>
            </section>
            <section class="form-submit-link-section">
                 <a href="/login" class="form-submit-link">Already Have An Account ? Login</a>
            </section>
        </form>
    </div>
</div>