@use './styles/sidebar-header';
@use './styles/sidebar-items';
@use './styles/sidebar-items-menu';
@use './styles/sidebar-menu';

.sidebar {
    display: grid;
    overflow-x: hidden;
    border-radius: 10px;
    background: var(--sidebar-bg-color);
    width: 100%;
    height: 90vh;
    transform-origin: left;
    z-index: 1;
    transition: width, 200ms ease-out;
    color: var(--sidebar-fg-color);
}

@media (max-width: 1000px) {
    .sidebar {
        max-width: 250px;
        position: absolute;
        top: 67px;
        height: 95vh;
        left: 5px;
    }
}