<aside class="sidebar" id="sidebar" #sidebar>
    <section class="sidebar-header">
        <header>Chats</header>
        <i id="sidebar-menu" class="bi bi-chevron-double-left" (click)="toggleSideBar()"></i>
    </section>
    <section class="sidebar-menu">
        <section class="sidebar-menubar-container">
            <button class="sidebar-menu-button">
                <i class="bi bi-chat"></i>    
            </button>
            <button  class="sidebar-menu-button">
                <i class="bi bi-chat"></i>    
            </button>
            <button  class="sidebar-menu-button">
                <i class="bi bi-plus"></i>
            </button>
        </section>
    </section>
    <ul class="sidebar-item-list">
        <li class="sidebar-item" *ngFor="let chat of chats">
            <a class="sidebar-item-link" href="#">
                <div class="item-image">
                    <img
                        src={{chat.image}}
                        alt="Chat Profile Image"
                    />
                    <span class="active-status-dot"></span>
                </div>
                <div class="item-details">
                    <p class="item-username">{{chat.username}}</p>
                    <p class="item-active-status">{{chat.status}}</p>
                </div>
            </a>
            <div class="chat-item-menu-section">
                <i class="bi bi-three-dots-vertical chat-item-menu-toggle" #chatItemMenu></i>
                <aside data-chat-menu=0 class="chat-item-menu" #sideBarItem>
                    <span>
                        <a href="#">
                            <i class="bi bi-gear-fill"></i>
                            <p>Settings</p>
                        </a>
                    </span>
                    <span>
                        <a href="#">
                            <i class="bi bi-star-fill"></i>
                            <p>Mark favorite</p>
                        </a>
                    </span>
                    <span>
                        <a href="#">
                            <i class="bi bi-person-lines-fill"></i>
                            <p>See contact</p>
                        </a>
                    </span>
                    <span>
                        <a href="#">
                            <i class="bi bi-eye-slash-fill"></i>
                            <p>Hide</p>
                        </a>
                    </span>
                    <span>
                        <a href="#">
                            <i class="bi bi-trash3"></i>
                            <p>Delete</p>
                        </a>
                    </span>
                </aside>
            </div>
        </li>
    </ul>
</aside>