<nav class="fluid-navbar bg-zinc-700 text-white">
	<div class="navbar-header-section">
		<a class="app-title" href="/">
			<img src="./assets/images/fluid.svg" alt="Fluid Logo" />
			<header class="title-text">Fluid</header>
		</a>
	</div>
	<div class="navbar-links-section" id="navlink-section">
		<ul class="navlink-container">
			<li class="navlink nav-item-1">
				<a href="/">
					<i class="bi bi-house-fill"></i>
					<p>Home</p>
				</a>
			</li>
			<li class="navlink nav-item-2">
				<a href="/chat">
					<i class="bi bi-chat-dots-fill"></i>
					<p>Chats</p>
				</a>
			</li>
			<li class="navlink nav-item-3">
				<a href="/signin">
					<i class="fa-solid fa-right-to-bracket"></i>
					<p>Sign In</p>
				</a>
			</li>
			<li class="navlink nav-item-4">
				<a href="/signup">
					<i class="fa-solid fa-id-card"></i>
					<p>Sign Up</p>
				</a>
			</li>
		</ul>
	</div>
	<div class="navbar-button-section">
		<span class="user-icon">
			<a href="/account"><img id="profile-pic" src="./assets/images/user.svg" alt="Profile Picture On Navbar"></a>
		</span>
		<div class="nav-menu">
			<i id="nav-menu" class="bi bi-list" (click)="showNavbar()"></i>
		</div>
	</div>
</nav>
<router-outlet></router-outlet>